<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="me.xucan.drive.mapping.DriveEventMapper">
    <insert id="insertEvent" parameterType="_DriveEvent"  useGeneratedKeys="true" keyProperty="id">
        INSERT INTO driveevent(recordId, type, time, extra) VALUES(#{recordId}, #{type}, #{time}, #{extra})
    </insert>
    
    <select id="selectEvent" parameterType="int" resultType="_DriveEvent">
        SELECT * FROM driveevent where recordId = #{recordId}
    </select>
    
    <update id="updateEvent" parameterType="_DriveEvent" 
       >
        UPDATE driveevent set extra = #{extra} where id = #{id}
    </update>
</mapper>